
<div class="container">


    <div *ngIf="onError" class="text-center text-danger my-2">
        Impossible de vous connecter, vérifiez vos identifiants
    </div>

    <form [formGroup]="form" class="row col-6 mx-auto">
        <div class="row mt-4">
            <label for="login" class="form-label col-3">Login</label>
            <input  id="login"
                    type="text"
                    class="form-contol col-9"
                    [formControl]="getFormControl('login')"                    
                    [class.is-valid]="!isFieldInvalid('login')"
                    [class.is-invalid]="isFieldInvalid('login')"
            >
            <div *ngIf="isFieldInvalid('login')" class="text-danger">
                {{ loginErrorMsg }}
            </div>
        </div>

        <div class="row my-4">
            <label for="password" class="form-label col-3">Mot de passe</label>
            <input  id="password" 
                    type="password" 
                    [formControl]="getFormControl('password')" 
                    class="form-contol col-9"
            >
            <div *ngIf="isFieldInvalid('password')" class="text-danger">
               <p> {{ passwordErrorMsg[0] }} </p>
               <ul *ngIf="getFormControl('password').errors" >
                    <p> {{ passwordErrorMsg[1] }} </p>
                    <li *ngIf="!getFormControl('password').errors?.['strongPassword']?.minChar">
                        <p>{{ passwordErrorMsg[2] }}</p>
                    </li>
                    <li *ngIf="!getFormControl('password').errors?.['strongPassword']?.maxChar">
                        <p>{{ passwordErrorMsg[3] }}</p>
                    </li>
                    <li *ngIf="!getFormControl('password').errors?.['strongPassword']?.lowerCase">
                        <p>{{ passwordErrorMsg[4] }}</p>
                    </li>
                    <li *ngIf="!getFormControl('password').errors?.['strongPassword']?.upperCase">
                        <p>{{ passwordErrorMsg[5] }}</p>
                    </li>
                    <li *ngIf="!getFormControl('password').errors?.['strongPassword']?.numeric">
                        <p>{{ passwordErrorMsg[6] }}</p>
                    </li>
                    <li *ngIf="!getFormControl('password').errors?.['strongPassword']?.specialChar">
                        <p>{{ passwordErrorMsg[7] }}</p>
                    </li>
               </ul>
            </div>
        </div>
        
        <button class="btn btn-primary" [disabled]="form.invalid" type="button" (click)="onLogin()">Se connecter</button>
    </form>

</div>