<div>
    <div class="container" *ngIf="isLoged; else ngIsNotLoged">
        <div class="row">
            <color-scheme class=" d-flex justify-content-center mb-4 align-items-center" (selectedColorEmitter)="setSelectedColor($event)"></color-scheme>
        </div>
        <div class="row">
            <pixel-grid class=" d-flex justify-content-center align-items-center"  [color]="color"></pixel-grid>
        </div>
        <br/>
        <div class="row">
            <div class="controls d-flex justify-content-center align-items-center">
                <button class="btn btn-outline-secondary" (click)="onClearGrid()">Effacer la grille</button>
            </div>
        </div>
    </div>
</div>

<ng-template #ngIsNotLoged>
    <div class="justify-content-center">
        <div class="row">
            <p class="text-center text-danger mt-4">
                Impossible d'afficher la grille pour un utilisateur anonyme ! <br>
                Veuillez vous connecter ou vous enregistrer.
            </p>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-secondary w-25" routerLink="/login">Connection</button>
        </div>
    </div>
</ng-template>