.content {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%;
}

.logo {
  flex-basis: 100%;
  max-width: 8em;
}

.title {
  margin-top: 0.2em;
  /* padding-left: 4em; */
  background-image: linear-gradient(to right, red, green, blue);
  color: transparent;
  background-clip: text; /* pour éviter des problèmes de compatibilité avec l'utilisation du webkit qui suit*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title h1 {
  font-size: 3.2em !important;
}
