 <!--The content below is only a placeholder and can be replaced.-->
 <div class="row mt-2">
    <div class="col-3">
    </div>
    <div class="col-6">
        <div class="d-flex justify-content-center">
            <div class="title">
                <img src="../assets/images/Pixel_war.png" alt="Pixel war title">
            </div>
            <div class="logo">
                <img src="../assets/images/logo_pxwar.png" alt="Pixel war logo">
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="btn-group float-end mx-2">
            <button class="btn btn-primary" type="button" routerLink="/login"  *ngIf="!isLogon; else ngLogout">Se connecter</button>
            <button class="btn btn-warning" type="button" routerLink="/register">S'inscrire</button>
        </div>
    </div>
 </div>
<ng-template #ngLogout>
    <button type="button" class="btn btn-primary" (click)="logout()">Se déconnecter</button>
</ng-template>

<router-outlet></router-outlet>